@using JustBlog
@model IList<JustBlog.Core.Objects.Tag>

@{
    ViewBag.Title = "_Tags";
}

<div class="sidebar">
    <h3>Tags</h3>
    @if (Model.Count > 0)
    {
        <ul>
            @foreach (var tag in Model)
            {
                <li>@Html.TagLink(tag)</li>
            }
        </ul>
    }
    else
    {
        <p>No Tags found!</p>
    }
</div>
